    #conteudo {
        padding: 20px 30px;
        background: white;
        font-family: Arial, sans-serif;
        margin: 0px auto;
        height: fit-content;
        position: relative;
        overflow: hidden;
        text-align: start;
        padding-left: 20px;


    }

    #conteudowrapper{
        overflow: scroll;
        height: 50px;
        position: relative;
    }



    #conteudo h1 {
        font-size: 22pt;
    }

    #conteudo  h2 {
        font-size: 16pt;
        color: rgb(56, 55, 55);
    }

    #conteudo  h3 {
        font-size: 14pt;
        color: rgb(56, 55, 55);
        position: relative;
        top: -8px;
        margin-bottom: 40px;
    }

    #conteudo  p {
        font-size: 12pt;
        position: relative;
        top: -4px;
    }

    .p001 {
        font-size: 12pt;
        color: rgb(53, 51, 51);
        position: relative;
        top: -4px;
    }

    .p002 {
        font-size: 16pt;
        color: black;
        position: relative;
        top: -4px;
    }

    .p001-label {
        position: relative;
        padding: 4px;
    }

    #lb01 {
        display: inline-block;
        width: 200px;
    }

    #p001 {
        border-bottom: 1px solid black;
    }

    .footer {
        border-top: 1px solid black;
        position: relative;
        display: inline;
    }

    .plabel001 {
        display: block;
    }

    .flp01 {
        color: black;
        text-align: end;
        position: relative;
        top: -200px;
    }

    .flp002 {
        color: black;
    }

    .line01 {
        border-top: 1px solid black;
        text-align: center;
        font-size: 9pt;
    }

    .mrg01 {
        margin-bottom: 100px;
    }
    