@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  padding: 0;
  margin: 0;
}

.visible{
  left: 0;
}

.searching{
  height: 130px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rotate {
  transform: rotate(90deg);
}

form input,
form textarea{
  background-color: whitesmoke;
}

.activeTab {
  border-bottom: 4px solid #0ed1a0;
}

.no-scrool{
  overflow-y: hidden;
}

@keyframes rightToLeft {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes alertAppearing {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(-20deg);
  }
}


.alert{
animation: alertAppearing 2s ease-in-out;
animation-iteration-count: infinite;
}

.productDetails {
  animation: rightToLeft 1s ease-in-out;
}

.saleDetails {
  transition: all ease-in-out;
  transition-duration: 1s;
}

.bg-custom {
  background-image: url('/src/assets/Img/Logo.svg');
  background-size: 32%;
  background-position: right;
  background-repeat: no-repeat;

}